<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/pay.css" rel="stylesheet" media="screen" />
</head>
<style>

</style>

<body>
    <div class="checkout-panel">
        <div class="panel-body">
            <br />
            <div style="text-align: center;text-transform:uppercase">
                <h2>Checkout</h2>
            </div>


            {{!-- <div class="progress-bar">
                <div class="step active"></div>
                <div class="step active"></div>
                <div class="step"></div>
                <div class="step"></div>

            </div> --}}

            <div class="payment-method">
                <label for="card" class="method card">
                    <div class="card-logos">
                        <img src="images/visa_96px.png" />
                        <img src="images/mastercard_logo_96px.png" />
                    </div>

                    <div class="radio-input">
                        <input id="card" type="radio" name="payment">
                        Pay<span style="color:red;"> ₦ {{session.cart.totalPrice}}</span> with credit & Debit card
                    </div>
                </label>

                <label for="paypal" class="method paypal">
                    <div class="card-logos"> <img src="images/american_express_96px.png" />
                        <img src="images/paypal_96px.png" />
                    </div>

                    <div class="radio-input">
                        <input id="paypal" type="radio" name="payment" >
                        Pay <span style="color:red;"> ₦ {{session.cart.totalPrice}}</span> with PayPal & Am-Ex
                    </div>
                </label>
            </div>
            <form action="/order" method="POST">
                <div class="input-fields">
                    <div class="column-1">
                        <label for="cardholder">Cardholder's Name</label>
                        <input type="text" name="cardName" required/>

                        <div >
                            <div>
                                <label for="date">Expiry Date</label>
                                <input type="month" style="height: 50px;width:380px" name="expiryDate" placeholder="MM / YY" required />
                            </div>

                            <div>
                                <label for="verification">CVV / CVC *</label>
                                <input type="password" id="verification" required/>
                            </div>
                        </div>

                    </div>
                    <div class="column-2">
                        <label for="cardnumber">Card Number</label> 
                        <input type="number" class="form-control " style="height: 50px;width:380px" name="cardNumber"  required maxlength="15" minlength="15"/>

                        <span class="info">* CVV or CVC is the card security code, unique three digits number on the
                            back of
                            your card separate from its number.</span>
                    </div>
                   <input type="text" name="user_id" value="{{session.user_id}}" hidden/>
                   <input type="text" name="amount" value="{{session.cart.totalPrice}}" hidden/>
                
                </div>
                  <div class="column-3">
                         <h3>Delivery Address</h3>
                        {{#each delivery}}
                        
                       
                        <p>State: <label>{{state}}</label></p>
                        <p> Address; <label>{{address}}</label></p>
                           <input type="text" name="state" value="{{state}}" hidden/>
                   <input type="text" name="address" value="{{address}}" hidden/>

                        {{/each}}
                    </div>
        </div>

        <div class="panel-footer">
            <a href="/show-cart"><button class="btn back-btn">Back</button></a>
            <a><button type="submit" class="btn next-btn">Confirm</button></a>
        </div>
        </form>
    </div>


</body>

</html>